
$white: white;
$darkWhite: #f5f5f5;
$darkBackground: #bfcdd0;
$lightBackground: #dde9ed;
$placeholderColor: #c5c5c5;
$colorGrey: #d5d5d5;
$lineColor: #d8d8d8;
$footerColor: #6b6b6b;
$titleColor: #54585a;
$black: black;
$backLightBlue:#AED6F1;
$backLightPurple:#D7BDE2;
$backLightGreen:#82E0AA;
$lightColor: #DAF7A6;
$neutralColor:#82E0AA;
$mediumColor:#1ABC9C;
$darkColor: #0f705d;
$contrastColor:#9B59B6;
$light-khaki: #f9f4dc;
$hospital-green:#a2deaf;
$dirty-blue:#438792;
$dark-green-blue: #114e4e;
$dull-orange:#e17334;
$lightGreyBlue: #a0c0cf;
$fadedOrange: #eab052;
$driedBold: #420101;
$rustyRed:#bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$mainFont: "Open Sans", sans-serif;
$secondaryFont: "Merriweather", serif;
$thirdFont: "Montserrat", sans-serif;