$contrastColor:#e17334;
$white: white;
$black: black;
$lightColor: #f9f4dc;
$neutralColor:#a2deaf;
$mediumColor:#438792;
$darkColor: #114e4e;
$mainFont: "Open Sans", sans-serif;
$secondaryFont: "Merriweather", serif;