.form{
    padding: 27px 20px 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    

    @media all and (width > 768px){
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 40px;
        
    }

    & .fieldset {
        font-family: $mainFont;
        color: $titleColor;
        border: none;
        border-bottom: 1px solid $lineColor;
        &:last-child{
            border: none;
        }
        
    }
    
    & .legend{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        &-icon{
            font-family: $mainFont;
            font-size: 18px;
            font-weight: 600;
            color: $titleColor;
        }
        & .fa-regular{
            color: $contrastColor;
            margin-right: 5px;
        }

        & .fa-share-nodes{
            color: $contrastColor;
        }
        
        &-btn{
            border: none;
            background: none;
            font-size: 18px;
            color: $titleColor;
            
        }

        
        
    }

}



//design

.fieldset__design {
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &--colors {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin-bottom: 20px;

        & .color-one {
            display: flex;
        
            &__1 {
                width: 30px;
                height: 25px;
                padding: 10px 0;
                margin-left: 5%;
                background-color: $dark-green-blue;
            }
        
            &__2 {
                width: 30px;
                height: 25px;
                background-color: $dirty-blue;
            }
        
            &__3 {
                width: 30px;
                height: 25px;
                padding: 10px 0;
                background-color: $hospital-green;
            }
        }

        & .onecol {
            transform: scale(1.2);
            cursor: pointer;
        }

        & .color-two {
            display: flex;
        
            &__1 {
                width: 30px;
                height: 25px;
                padding: 10px 0;
                margin-left: 5%;
                background-color: $driedBold;
            }
        
            &__2 {
                width: 30px;
                height: 25px;
                background-color: $rustyRed;
            }
        
            &__3 {
                width: 30px;
                height: 25px;
                padding: 10px 0;
                background-color: $tomato;
            }
        }
        
        & .color-three {
            display: flex;
        
            &__1 {
                width: 30px;
                height: 25px;
                padding: 10px 0;
                margin-left: 5%;
                background-color: $slate;
            }
        
            &__2 {
                width: 30px;
                height: 25px;
                background-color: $fadedOrange;
            }
        
            &__3 {
                width: 30px;
                height: 25px;
                padding: 10px 0;
                background-color: $lightGreyBlue;
            }
        }

    }  

}


//complete

.complete{
    display: flex;
    flex-direction: column;
    font-family: $mainFont;
    font-size: 14px;
    padding: 30px 0px;
    width: 100%;
    
        &__label{
            font-size: 14px;
            color: $darkColor;
            margin-bottom: 7px;
        }
        
        &__input{
         border: 1px solid $neutralColor;
         margin-bottom: 20px;
         font-size: 14px;
         height: 30px;
         padding-left: 10px;
         &::placeholder{
            color: $placeholderColor;
            font-family: $mainFont;
            
         }
        }

        &__button{
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 5px;
            margin-bottom: 20px;

            &-input{
                cursor: pointer;
                position: absolute;
                top:10%;
                left: -130px;
                opacity: 0;
            }
            
            &-paragraph{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                background-color: $contrastColor;
                border-radius: 3px;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
                width: 140px;
                height: 30px;
                padding-bottom: 3px;
                
            }

            &-square{
                border: 1px solid $neutralColor;
                width: 3rem;
                height: 3rem;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &__regex{
            font-family: $mainFont;
            color: $contrastColor;
            font-size: 1.4rem;
            padding-bottom: 10px;
            transform: translateY(-10px);
        }
    
}


//Share


.section-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    

    & .btn-create{
        background-color: $contrastColor;
        width: 199px;
        height: 50px;
        border-radius:12px;
        border: 0;
        font-size: 18px;
        font-family: $mainFont;
        font-weight: 600;
        color: $white;
        margin-top: 30px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        cursor: pointer;
        &:hover{
            background-color: $mediumColor;
        }
    }

    & .btn-create_grey{
        background-color: $colorGrey;
        width: 199px;
        height: 50px;
        border-radius:12px;
        border: 0;
        font-size: 18px;
        font-family: $mainFont;
        font-weight: 600;
        color: $white;
        margin-top: 30px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    }
}






/*la tarjeta ha sido creada*/

.cardcreated {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
    gap: 5px;
    border-top: 1px solid $lineColor;

    &__title {
        text-align: center;
        color: $titleColor;
        font-size: 18px;
        font-weight: 600;
        font-family: $mainFont;
    }

   
    &__link {
        font-size: 12px;
        width: 292px;
        text-align: center;
        font-family: $mainFont;

        &--twitter{
            color: $contrastColor;
        }
    }

    &__x {
        font-size: 14px;
        background-color:black;
        color: $white;
        border: none;
        width: 181px;
        margin: 5px 33px 30px 29px;
        padding: 5px 9px 6px 10.5px;
        border-radius: 3px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
        font-family: $mainFont;
        &:hover{
            background-color: $contrastColor;
        }

        & .x-button{
            color: $white;
        }
    }
}

.collapsed {
    display: none;
    
}

.collapsable--close{

    .collapsable__btn--right{
       
        transform: rotate(180deg);
    }
    .collapsable__content{
        display: none;
    }
}
