.form{
    padding: 27px 20px 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    

    @media all and (width > 768px){
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 40px;
        
    }

    & .fieldset {
        font-family: $mainFont;
        color: $titleColor;
        border: none;
        border-bottom: 1px solid $lineColor;
        // &:last-child{
        //     border: none;
        // }
    }
    
    & .legend{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        &-icon{
            font-family: $mainFont;
            font-size: 18px;
            font-weight: 600;
            color: $titleColor;
        }
        & .fa-regular{
            color: $contrastColor;
            margin-right: 5px;
        }

        & .fa-share-nodes{
            color: $contrastColor;
        }
        
        &-btn{
            border: none;
            background: none;
            font-size: 18px;
            color: $titleColor;
            
        }
    }
}



.collapsed {
    display: none;
    
}

.collapsable--close{
    .collapsable__btn--right{
       
        transform: rotate(180deg);
    }
    .collapsable__content{
        display: none;
    }
}
