.main{
    background-color: $darkWhite;
    display: flex;
    flex-direction: column;
    align-items:center;

    &__image{
        height: 63px;
        margin: 95px 35px 0 35px;
    }

    &__title{
    
        padding-top:35px;
        color: $contrastColor;
        font-family:  $secondaryFont;
        font-size: 19.2px;
        font-weight: 900;
        text-align: center;
    }

    &__text{
        width: 264.8px;
        height: 38.4px;
        font-family: $mainFont;
        font-size: 12.8px;
        text-align: center;
        color: $darkColor;
        margin-bottom: 17.8px;
    }

    &__article{
        width: 268px;
        height: 73.8px;
        margin: 17.8px 0 0.2px;
        padding: 15px 20px 9.8px 20px;
        opacity: 0.21;
        border-radius: 4px;
        border: solid 1.6px $contrastColor;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;

        &--section{
            width: 60px;
            height: 48.8px;
            margin: 0 24px 0 0;
            font-family: $mainFont;
            font-size: 12.8px;
            text-align: center;
            color:$titleColor;
        }
    }

    &__link{
        width: 129px;
        height: 42px;
        margin: 38px 75px 30px 65px;
        padding: 10px 20px;
        border-radius: 21px;
        background-color: $mediumColor;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: $white;
        text-decoration: none;
    }
}