//Create card


.section-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    

    & .btn-create{
        background-color: $contrastColor;
        width: 199px;
        height: 50px;
        border-radius:12px;
        border: 0;
        font-size: 18px;
        font-family: $mainFont;
        font-weight: 600;
        color: $white;
        margin-top: 30px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        cursor: pointer;
        &:hover{
            background-color: $mediumColor;
        }
    }

    & .btn-create_grey{
        background-color: $colorGrey;
        width: 199px;
        height: 50px;
        border-radius:12px;
        border: 0;
        font-size: 18px;
        font-family: $mainFont;
        font-weight: 600;
        color: $white;
        margin-top: 30px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    }
}



/*Share card*/

.cardcreated {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
    gap: 5px;
    border-top: 1px solid $lineColor;

    &__title {
        text-align: center;
        color: $titleColor;
        font-size: 18px;
        font-weight: 600;
        font-family: $mainFont;
    }

   
    &__link {
        font-size: 12px;
        width: 292px;
        text-align: center;
        font-family: $mainFont;

        &--twitter{
            color: $contrastColor;
            &:hover{
                color: $mediumColor;
            }
        }
    }

    &__x {
        font-size: 14px;
        background-color:black;
        color: $white;
        border: none;
        width: 181px;
        margin: 5px 33px 30px 29px;
        padding: 5px 9px 6px 10.5px;
        border-radius: 3px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
        font-family: $mainFont;
        &:hover{
            background-color: $contrastColor;
        }

        & .x-button{
            color: $white;
        }
    }
}