<fieldset class="fieldset js-fieldset-complete js_fieldset collapsable--close">
    <div class="legend js_collapsable-header">
        <legend class="legend-icon"><i class="fa-regular fa-keyboard"></i>
        RELLENA</legend>
        <i  class= "fa-solid fa-angle-up collapsable__btn--right">
        </i>   
            
    </div>
    <section class="complete collapsable__content">
        
        <label class="complete__label"  for="name">Nombre completo</label>
        <input class="complete__input js-input-name" placeholder="Ej: Sally Jill" id="name" type="text" name="name"  />

        <label class="complete__label"  for="job">Puesto</label>
        <input class="complete__input js-input-job" placeholder="Ej: Front-end unicorn" id="job" type="text" name="job"  />

        
        <label class="complete__label" for="photo">Imagen de perfil</label>
        <div class="complete__button">
            <label class="complete__button-paragraph" for="addImage">Añadir imagen</label>
            <input class="complete__button-input js__profile-upload-btn" type="file" id="photo" >
            <div class="complete__button-square js__profile-image"></div>
        </div>

        

        <label class="complete__label"  for="email">Email</label>
        <input class="complete__input js-input-email" placeholder="Ej: sally-hill@gmail.com" id="email" type="email" name="email"  />
        <p class="complete__regex js-msg-email"></p>

        <label class="complete__label "  for="phone">Teléfono</label>
        <input class="complete__input js-input-phone" placeholder="Ej: 555-555-555" id="phone" type="tel" name="tel"  />

        <label class="complete__label"  for="linkedin">Linkedin</label>
        <input class="complete__input js-input-linkedin" placeholder="Ej: Linkedin.com/in/sally.hill" id="linkedin" type="text" name="linkedin"  />
        <p class="complete__regex js-msg-linkedin"></p>

        <label class="complete__label"  for="github">Github</label>
        <input class="complete__input js-input-github" placeholder="Ej: @sally-hill" id="github" type="text" name="github"  />
        <p class="complete__regex js-msg-git"></p>

        
    </section>
</fieldset>

