<fieldset class="fieldset">
    <div class="legend">
        <legend class="legend-icon"><i class="fa-regular fa-keyboard"></i>
        RELLENA</legend>
        <i  class= "fa-solid fa-angle-up">
        </i>   
            
    </div>
    <section class="complete">
        
        <label class="complete__label"  for="firstName">Nombre completo</label>
        <input class="complete__input" placeholder="Ej: Sally Jill" id="firstName" type="text" name="firstName"  />

        <label class="complete__label"  for="job">Puesto</label>
        <input class="complete__input" placeholder="Ej: Front-end unicorn" id="job" type="text" name="job"  />

        
        <label class="complete__label" for="addImage">Imagen de perfil</label>
        <div class="complete__button">
            <label class="complete__button-paragraph" for="addImage">Añadir imagen</label>
            <input class="complete__button-input js__profile-upload-btn" type="file" id="addImage" >
            <div class="complete__button-square js__profile-image"></div>
        </div>

        

        <label class="complete__label"  for="emailAddress">Email</label>
        <input class="complete__input" placeholder="Ej: sally-hill@gmail.com" id="emailAddress" type="email" name="email"  />

        <label class="complete__label"  for="telNumber">Teléfono</label>
        <input class="complete__input" placeholder="Ej: 555-555-555" id="telNumber" type="tel" name="tel"  />

        <label class="complete__label"  for="socialMedia">Linkedin</label>
        <input class="complete__input" placeholder="Ej: Linkedin.com/in/sally.hill" id="socialMedia" type="text" name="socialMedia"  />

        <label class="complete__label"  for="git">Github</label>
        <input class="complete__input" placeholder="Ej: @sally-hill" id="git" type="text" name="git"  />

        
    </section>
</fieldset>

