<fieldset class="fieldset">
    <div class="fieldset__legend">
        <legend><i class="fa-regular fa-object-ungroup">
            </i>
            DISEÑA</legend>
        <i class="fa-solid fa-angle-up">
        </i>
    </div>
    <section  class="fieldset__design">
        <label for="">COLORES</label>
        <section class="fieldset__design--colors">
            <div class="color-one">
                <input type="radio" value="colors1" name="colorOne" class="onecol" checked>
                <div class="color-one__1"></div>
                <div class="color-one__2"></div>
                <div class="color-one__3"></div>
            </div>
            <div class="color-two">
                <input type="radio" value="colors1" name="colorOne" class="onecol" checked>
                <div class="color-two__1"></div>
                <div class="color-two__2"></div>
                <div class="color-two__3"></div>
            </div>
            <div class="color-three">
                <input type="radio" value="colors1" name="colorOne" class="onecol" checked>
                <div class="color-three__1"></div>
                <div class="color-three__2"></div>
                <div class="color-three__3"></div>
            </div>
        </section>
    </section>
</fieldset>

