<fieldset class="fieldset js_fieldset">
    
    <div class="legend js_collapsable-header">
        <legend class="legend-icon"><i class="fa-regular fa-object-ungroup">
            </i>
            DISEÑA</legend>
        <div class=" legend-btn js-legendBtn collapsable__btn--right"><i class="fa-solid fa-angle-up"></i></div>
        
    </div>

    <section  class="fieldset__design js-fieldset-design collapsable__content">
        <label for="palette">COLORES</label>
        <section class="fieldset__design--colors">
            <div class="color-one">
                <input type="radio" value="1" name="palette" class="onecol js-onecol" checked>
                <div class="color-one__1"></div>
                <div class="color-one__2"></div>
                <div class="color-one__3"></div>
            </div>
            <div class="color-two">
                <input type="radio" value="2" name="palette" class="onecol">
                <div class="color-two__1"></div>
                <div class="color-two__2"></div>
                <div class="color-two__3"></div>
            </div>
            <div class="color-three">
                <input type="radio" value="3" name="palette" class="onecol">
                <div class="color-three__1"></div>
                <div class="color-three__2"></div>
                <div class="color-three__3"></div>
            </div>
        </section>
    </section>
</fieldset>

