<section class="preview">
    <div class="card js__preview" >
        <a href="#" class="card__reset js-btn-reset"><i class="fa-regular fa-trash-can"></i> RESET</a>
        <article class="card__rectangle">
            <div class="card__rectangle--text">
                <h2 class="title js__preview_name">Nombre Apellido</h2>
                <h3 class="subtitle js__preview_job">Front-end developer</h3>
            </div>
             <div class="card__rectangle--image js__profile-preview" ></div>

            <div class="card__rectangle--icons">
                <a href="" class="icon js__preview_phone" target="_blank"><i class="fa-solid fa-mobile-screen-button"></i></a>
                <a href="" class="icon js__preview_email" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                <a href="" class="icon js__preview_linkedn" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="" class="icon js__preview_github" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
            </div>
        </article>
    </div>
</section>