<section class="preview">
    <div class="card js__preview" >
        <a href="#" class="card__reset"><i class="fa-regular fa-trash-can"></i> RESET</a>
        <article class="card__rectangle">
            <div class="card__rectangle--text">
                <h2 class="title js__preview_name">Nombre Apellido</h2>
                <h3 class="subtitle js__preview_job">Front-end developer</h3>
            </div>
             <div class="card__rectangle--image js__profile-preview" ></div>

            <div class="card__rectangle--icons">
                <span><a href="#" class="icon js__preview_phone"><i class="fa-solid fa-mobile-screen-button"></i></a></span>
                <span><a href="#" class="icon js__preview_email"><i class="fa-regular fa-envelope"></i></a></span>
                <span><a href="#" class="icon js__preview_linkedn"><i class="fa-brands fa-linkedin-in"></i></a></span>
                <span><a href="#" class="icon js__preview_github"><i class="fa-brands fa-github-alt"></i></a></span>
            </div>
        </article>
    </div>
</section>