<section class="preview">
    <div class="card">
        <a href="#" class="card__reset"><i class="fa-regular fa-trash-can"></i> RESET</a>
        <article class="card__rectangle">
            <div class="card__rectangle--text">
                <h2 class="title">Nombre Apellido</h2>
                <h3 class="subtitle">Front-end developer</h3>
            </div>
             <img class="card__rectangle--image" src="/images/logo-awesome-profile-cards.svg" alt="">

            <div class="card__rectangle--icons">
                <span><a href="#" class="icon"><i class="fa-solid fa-mobile-screen-button"></i></a></span>
                <span><a href="#" class="icon"><i class="fa-regular fa-envelope"></i></a></span>
                <span><a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></span>
                <span><a href="#" class="icon"><i class="fa-brands fa-github-alt"></i></a></span>
            </div>
        </article>
    </div>
</section>