
<fieldset class="fieldset">
    <div class="legend">
        <legend class="legend-icon"><i class="fa-regular fa-object-ungroup">
            </i>
            COMPARTE</legend>
        <i class="fa-solid fa-angle-up">
        </i>
    </div>
    <section class="section-create">
        <button class="btn-create">
            <i class="fa-regular fa-address-card"></i> CREAR TARJETA
         </button>
    </section>
    <section>
        <!--La tarjeta ha sido creada-->
        <div class="card">
            <p class="card__title">La tarjeta ha sido creada:</p>
            <span class="card__link">
                <a class="card__link--twitter" href="https://dev.adalab.es/card/16766402168739246" target="_blank">https://dev.adalab.es/card/16766402168739246</a>
            </span>
            <button class="card__x">
                <i class="fa-brands fa-x-twitter"></i>
                <a class="x-button" href="https://twitter.com/Adalab_Digital?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Compartir en twitter</a>
            </button> 
        </div>
    </section>
</fieldset>