
<fieldset class="fieldset js-fieldset-share js_fieldset collapsable--close">
    <div class="legend js_collapsable-header">
        <legend class="legend-icon"><i class="fa-solid fa-share-nodes">
            </i>
            COMPARTE</legend>
        <i class="fa-solid fa-angle-up collapsable__btn--right">
        </i>
    </div>
    
    <section class="section-create collapsable__content">
        <button class="btn-create js_btnCreate">
            <i class="fa-regular fa-address-card"></i> CREAR TARJETA
            </button>
    </section>
    
    <!--La tarjeta ha sido creada-->
    
    <section class="collapsed js-section-created"> 
        <div class="cardcreated">
            <p class="cardcreated__title">La tarjeta ha sido creada:</p>
            <span class="cardcreated__link">
                <a class="cardcreated__link--twitter" href="https://dev.adalab.es/card/16766402168739246" target="_blank">https://dev.adalab.es/card/16766402168739246</a>
            </span>
            <button class="cardcreated__x">
                <i class="fa-brands fa-x-twitter"></i>
                <a class="x-button" href="https://twitter.com/Adalab_Digital?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Compartir en twitter</a>
            </button> 
        </div>
    </section>
    
</fieldset>